{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <div class="page-header">
                <h1>Bienvenue au Gala <small>Inscription</small></h1>
            </div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div id="welcome" style="text-align: justify; font-size: large">
                <p>Bienvenue sur le site d’inscription pour les Orga du XXème Gala de l’INSA Lyon !</p>
                <p>Comme tu le sais, cette année le Gala revient dans un nouveau format: il est dédié à 1500 diplômés et leurs proches et se déroulera à la Sucrière.</p>
<p>Pour participer à l’organisation et découvrir la super ambiance de cet évènement majeur du BDE, c’est ici !</p>

<p>Sur ce site, tu vas pouvoir donner tes disponibilités pendant l’évènement et d’obtenir ton planning. Pour t’inscrire, il te faut un compte Google.
Il te faut 80 points de charisme pour valider ton inscription, soit 3 créneaux de disponibilité. On te demande de mettre au moins un créneau pendant la soirée.
Tu seras contacté pour qu’on te donne tes tâches lorsque les plannings seront faits.</p>

<p>A bientôt !</p>
            </div>
            <div id="logins" style="width: 100%">
                <a
                        class="btn btn-danger"
                        style="margin: 0 auto;display: block"
                        href="{{ hwi_oauth_login_url('google') }}">Inscription avec Google</a>
            </div>
            <div class="well well-small" style="margin-top:50px">
                En cas de problème, contacte le responsable :
                <a href="mailto:gala.orga@bde-insa-lyon.fr">gala.orga@bde-insa-lyon.fr</a><br/>
                Clef : {{ token }}
            </div>
        </div>
        <div class="span6" style="min-width: 700px;">
            <div class="well well-small">
                <div class="page-header">
                    <h1>Teaser</h1>
                </div>
                <div>
                    <iframe width="560" height="315" style="margin:0 auto;display: block;" src="//www.youtube.com/embed/oh7T2arglLc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
